<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="../static/stylesheets/contact.css">
</head>


<body>

    <header class="container-fluid bg">
        <div class="row">
            <div class="col-sm-4 ">

                <div class="col m-4 p-3 ">
                    <img src="../static/images/2.jpeg" class="img-thumbnail img-circle " alt="avatar" width="auto" height="100%">
                </div>



            </div>
            <div class="col-sm-8 " style="text-align: left; height: auto;">
                <div class="rows align-items-center p-3 m-4" style="height: auto;">
                    <h1>
                        Trần khánh Duy
                    </h1>

                    <p style="font-style:italic;">Trưởng nhóm DevOps</p>

                </div>
            </div>

        </div>

    </header>
    <div class="container-fluid">
        <div class="rows">
            <div class="col-sm-4">
                <div class="row timeline">
                    <h2><strong>Thông Tin</strong></h2>
                    <div class="col  p-3 m-4">
                        <div class="p-3 ">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i> Home
                        </div>
                        <div class="p-3 ">
                            <i class="fa fa-birthday-cake" aria-hidden="true"></i>09/09/9999
                        </div>
                        <div class="p-3 ">
                            <i class="fas fa-phone-alt"></i>0978123456
                        </div>
                        <div class="p-3 ">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a class="" href="#" style="
                                text-decoration: none;"><span> nanc90997@gmail.com</span></a>
                        </div>
                        <div class="p-3 ">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i> Home
                        </div>
                    </div>
                    <!-- Separator -->
                    <div class="separator text-muted"></div>
                    <!-- /Separator -->
                </div>
                <div class="row  timeline">
                    <h2><strong>Tiếng Anh</strong></h2>
                    <div class="col">
                        <div class="row p-3 m-3 d-flex">
                            <div class="row">
                                <strong>
                                    Nghe
                               </strong>
                            </div>
                            <div class="progress row">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                        </div>

                        <div class="row p-3 m-3">
                            <div class="row">
                                <strong>
                                    Nói
                               </strong>
                            </div>
                            <div class="progress row">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                        </div>
                        <div class="row p-3 m-3">
                            <div class="row">
                                <strong>
                                    Đọc
                               </strong>
                            </div>
                            <div class="progress row">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                        </div>
                        <div class="row p-3 m-3">
                            <div class="row">
                                <strong>
                                    Viết
                               </strong>
                            </div>
                            <div class="progress row">
                                <div class="progress-bar progress-bar-striped" role="progressbar " style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                        </div>
                    </div>
                    <!-- Separator -->
                    <div class="separator text-muted"></div>
                    <!-- /Separator -->
                </div>
                <div class="row  timeline">
                    <h2><strong>Code</strong></h2>
                    <p>NodeJS</p>
                    <p>ReacJS</p>
                    <p>javascript</p>
                    <p>PHP</p>
                    <p>Typescript</p>
                    <p>khác:</p>
                    <!-- Separator -->
                    <div class="separator text-muted"></div>
                    <!-- /Separator -->
                </div>


            </div>
            <div class="col-sm-8">

                <!-- Timeline -->
                <div class="timeline">

                    <!-- Line component -->
                    <div class="line text-muted"></div>
                    <!-- /Line component -->

                    <!-- Panel -->
                    <article class="panel  panel-primary">

                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <!-- /Icon -->
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h2 class="panel-title text-uppercase">Mục tiêu</h2>
                        </div>
                        <!-- /Heading -->

                        <!-- Body -->
                        <div class="  panel-body">
                            <p>-Được làm việc trong môi trường chuyên nghiệp</p>
                            <p>-Được hưởng các chế độ theo luật lao động</p>
                            <p>-Tích lũy thêm kinh nghiệm cho công việc được hiệu quả và nhanh chóng</p>
                        </div>
                        <!-- /Body -->

                    </article>
                    <!-- /Panel -->

                    <!-- Panel -->
                    <article class="panel  panel-primary">

                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="fa fa-archive" aria-hidden="true"></i>
                        </div>
                        <!-- /Icon -->
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h2 class="panel-title text-uppercase">Đào tạo</h2>
                        </div>
                        <!-- /Heading -->

                        <!-- Body -->
                        <div class="  panel-body">
                            <h3><strong>Bách Khoa Hà Nội</strong></h3>

                            <p>
                                <strong>Chuyên ngành:</strong> Công nghệ thông tin
                            </p>



                            <p>
                                <strong>Loại tốt nghiệp:</strong> Giỏi
                            </p>

                            <p>
                                <strong>Bằng cấp:</strong> Cử nhân
                            </p>
                            <time><i class="fas fa-calendar-alt"></i> 2018-2020</time>

                        </div>
                        <!-- /Body -->

                    </article>

                    <!-- /Panel -->

                    <!-- Panel -->
                    <article class="panel  panel-primary">

                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="far fa-check-circle"></i>
                        </div>
                        <!-- /Icon -->
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h2 class="panel-title text-uppercase">kinh nghiệm</h2>
                        </div>
                        <!-- /Heading -->

                        <!-- Body -->
                        <div class="  panel-body">
                            <h3><strong>Công Ty CP ABC</strong></h3>
                            <p>Team lead</p>
                            <time><i class="fas fa-calendar-alt"></i>  2020-2021</time>
                            <p>
                                <strong>Mô Tả Công Việc:</strong><br>-Đảm bảo doanh số thị trường mức thu nhập doanh thu
                            </p>
                            <p>
                                <strong>Thành tích đạt dược:</strong><br>-Duy trì mối quan hệ giữa công ty và đối tác tổng hợp phân tích báo cáo từ nhân viên kinh doanh và nhân viên chăm sóc khách hàng từ đó lập kế hoạch kinh doanh cụ thể cho team
                            </p>
                            <p>
                                <strong>Bằng cấp:</strong> Cử nhân
                            </p>
                            <time>2018-2020</time>
                        </div>
                        <!-- /Body -->

                    </article>
                    <!-- /Panel -->



                    <!-- Panel -->
                    <article class="panel  panel-primary">

                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="far fa-check-circle"></i>
                        </div>
                        <!-- /Icon -->
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h2 class="panel-title text-uppercase">Kỹ Năng</h2>
                        </div>
                        <!-- /Heading -->

                        <!-- Body -->
                        <div class="  panel-body">
                            <p>làm việc nhóm</p>
                            <p>học hiệu quả</p>
                        </div>
                        <!-- /Body -->

                    </article>
                    <!-- /Panel -->

                    <!-- Panel -->
                    <article class="panel  panel-primary">

                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <!-- /Icon -->
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h2 class="panel-title text-uppercase">sở thích</h2>
                        </div>
                        <!-- /Heading -->

                        <!-- Body -->
                        <div class="  panel-body">
                            <p>Du lịch, Code, chơi game, chụp ảnh</p>
                        </div>
                        <!-- /Body -->

                    </article>
                    <!-- /Panel -->

                </div>
                <!-- /Timeline -->

            </div>

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/44712da84a.js"></script>
    <script src="https://kit.fontawesome.com/a5ea15eec7.js" crossorigin="anonymous"></script>
</body>

</html>