<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/stylesheets/style.css">

</head>
<!-- style="background-image: linear-gradient(to bottom right,black, red, yellow,#fff); height: 625px; -->

<body>

    <div class=" container-fluid px-10 bg">
        <div class="row">
            <div class="col-sm-4 ">

                <div class="col m-4 p-3 ">
                    <img src="../static/images/2.jpeg" class="img-thumbnail " alt="avatar" width="auto" height="100%">
                </div>



            </div>
            <div class="col-sm-4" style="text-align: left; height: auto">
                <div class="position-relative col p-3 m-4" style="height: auto">
                    <h1>
                        Trần khánh Duy
                    </h1>
                    <div class="position-absolute">
                        <p style="font-style:italic;">Trưởng nhóm DevOps</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4  ">
                <div class="col  p-3 m-4">
                    <div class="p-3 ">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Home
                    </div>
                    <div class="p-3 ">
                        <i class="fa fa-birthday-cake" aria-hidden="true"></i>09/09/9999
                    </div>
                    <div class="p-3 ">
                        <i class="fas fa-phone-alt"></i>0978123456
                    </div>
                    <div class="p-3 ">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a class="" href="#" style="
                            text-decoration: none;"><span> nanc90997@gmail.com</span></a>
                    </div>
                    <div class="p-3 ">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Home
                    </div>
                </div>


            </div>
        </div>
    </div>


    <!-- học vấn -->

    <div class="container-fluid ">
        <div class="row   bg-mau d-flex">
            <div class="col-sm-1">
                <div class="icon">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-sm-11 ">
                <div class="">
                    <h1>
                        Học Vấn
                    </h1>
                </div>
            </div>
        </div>
        <!-- block 1 học vấn-->
        <div class="row pt-3 ">
            <div class="col-sm-2 ">
                <ul class="timeline">
                    <li>
                        <p>
                            <h4> <strong> School</strong></h4>
                        </p>
                        <p class="float-right">2018-2020</p>
                    </li>
                </ul>

            </div>
            <!-- chuyên ngành -->
            <div class="col-sm-5">
                <div class="">
                    <div class="row  d-flex">
                        <p>
                            <strong>Chuyên ngành:</strong> Công nghệ thông tin
                        </p>

                    </div>
                    <div class="row ">
                        <p>
                            <strong>Loại tốt nghiệp:</strong> Giỏi
                        </p>
                    </div>
                    <div class="row ">
                        <p>
                            <strong>Bằng cấp:</strong> Cử nhân
                        </p>
                    </div>

                </div>
            </div>
            <!-- thành tích -->
            <div class="col-sm-5 ">
                <div class="col">

                    <p class="">
                        <Strong>
                            Thành tích nổi bật:
                        </Strong> <br>-sinh viên 5 tốt <br> -học sinh giỏi 12 năm

                </div>

            </div>

        </div>
        <!-- block 2 học vấn -->
        <div class="row pt-3">
            <div class="col-sm-2 ">
                <ul class="timeline">
                    <li>
                        <p>
                            <h4> <strong> Bách Khoa Hà Nội</strong></h4>
                        </p>
                        <p class="float-right">2018-2020</p>
                    </li>
                </ul>
            </div>
            <!-- chuyên ngành-học vấn -->
            <div class="col-sm-5 ">
                <div class="">
                    <div class="row  d-flex">
                        <p>
                            <strong>Chuyên ngành:</strong> Công nghệ thông tin
                        </p>

                    </div>
                    <div class="row ">
                        <p>
                            <strong>Loại tốt nghiệp:</strong> Giỏi
                        </p>
                    </div>
                    <div class="row ">
                        <p>
                            <strong>Bằng cấp:</strong> Cử nhân
                        </p>
                    </div>

                </div>
            </div>
            <!-- rỗng -->
            <div class="col-sm-5 ">
                <div class="col">


                </div>

            </div>

        </div>
    </div>
    <!-- kinh nghiệm -->

    <div class="container-fluid ">
        <div class="row   bg-mau d-flex">
            <div class="col-sm-1">
                <div class="icon">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-sm-11 ">
                <div class="">
                    <h1>
                        Kinh Nghiệm
                    </h1>
                </div>
            </div>
        </div>
        <!-- block 1 - kinh nghiệm -->
        <div class="row pt-3">
            <div class="col-sm-2 ">
                <ul class="timeline">
                    <li>
                        <p>
                            <h4> <strong> Nodemy</strong></h4>
                        </p>
                        <p class="float-right">2018-2020</p>
                    </li>
                </ul>
            </div>
            <!-- chuyên ngành-chuyên ngành -->
            <div class="col-sm-6 ">
                <div class="">
                    <div class="row  d-flex">
                        <p>
                            <strong>Vị Trí:</strong> DevOps
                        </p>

                    </div>
                    <div class="row ">
                        <p>
                            <strong>Mô tả:</strong> deploy, optimizing, monitoring, analysis…
                        </p>
                    </div>
                    <div class="row ">
                        <p>
                            <strong>Thành tích:</strong> DevOps hiểu đơn giản là Dev và Ops, đó chính là vừa phát triển vừa vận hành. Một DevOps Engineer là người có kiến thức về Vòng đời phát triển của phần mềm, đầy đủ kiến thức để tham gia và quá trình
                            phát triển và vận dụng thành thạo các công cụ tự động khác nhau để áp dụng vào các quá trình phát triển và vận hành. (CI/CD pipelines)
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- kỹ năng -->
    <div class="container-fluid">
        <div class="row   bg-mau d-flex">
            <div class="col-sm-1">
                <div class="icon">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-sm-11 ">
                <div class="">
                    <h1>
                        Kỹ Năng
                    </h1>
                </div>
            </div>
        </div>
        <!-- ul li kỹ nagnw -->
        <div class="row pt-3">
            <div class="col">
                <ul class="">
                    <li>lãnh đạo</li>
                    <li>làm việc nhóm</li>
                    <li>quản lý chiến lược</li>
                </ul>
            </div>
            <div class="col">
                <ul class="">
                    <li>Page 1</li>
                    <li>Page 1</li>
                    <li>Page 1</li>
                </ul>
            </div>
            <div class="col-sm-5 ">
                <div class="col">

                    <p class="">
                        <Strong>
                            Kỹ năng khác:
                        </Strong> <br>-Thuyết trình <br> -làm việc nhóm <br>...

                </div>

            </div>

        </div>
    </div>
    <!-- tiếng anh -->
    <div class="container-fluid">
        <div class="row   bg-mau d-flex">
            <div class="col-sm-1">
                <div class="icon">
                    <i class="fa fa-language" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-sm-11 ">
                <div class="">
                    <h1>
                        Tiếng Anh
                    </h1>
                </div>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-6 ">
                <div class="row p-3 m-3">
                    <div class="col-sm-2">
                        <strong>
                            Nghe
                       </strong>
                    </div>
                    <div class="progress col-sm-4">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                </div>

                <div class="row p-3 m-3">
                    <div class="col-sm-2">
                        <strong>
                            Nói
                       </strong>
                    </div>
                    <div class="progress col-sm-4">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row p-3 m-3">
                    <div class="col-sm-2">
                        <strong>
                            Đọc
                       </strong>
                    </div>
                    <div class="progress col-sm-4">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                </div>
                <div class="row p-3 m-3">
                    <div class="col-sm-2">
                        <strong>
                            Viết
                       </strong>
                    </div>
                    <div class="progress col-sm-4">
                        <div class="progress-bar progress-bar-striped" role="progressbar " style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- <div class="container-fluid bottom bg-mau ">
        <div class="row d-flex position-relative ">

            <div class="col-sm-12 ">
                <div class="text-align position-absolute top-50 start-50 translate-middle-x ">
                    <a href="#" class="text-decoration-none">nanc90997@gmail.com</a>
                </div>
            </div>
        </div>

    </div> -->






</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

<script src="https://use.fontawesome.com/44712da84a.js"></script>
<script src="https://kit.fontawesome.com/a5ea15eec7.js" crossorigin="anonymous"></script>

</html>